[

  ;; soil parameter
  ;;-----------------------------------------------------------------------------------------------

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/from-depth
   :db/valueType :db.type/long
   :meta/unit "cm"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers starting depth"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/to-depth
   :db/valueType :db.type/long
   :meta/unit "cm"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers ending depth"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/upper-boundary-depth
   :db/valueType :db.type/long
   :meta/unit "cm"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers upper boundary depth to indicate into which layer a value belongs"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/field-capacity
   :db/valueType :db.type/double
   :meta/unit "volp"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers field-capacity"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/permanent-wilting-point
   :db/valueType :db.type/double
   :meta/unit "volp"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers permanent wilting point"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/soil-moisture
   :db/valueType :db.type/double
   :meta/unit "volp"
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers soil-moisture"
   :db.install/_attribute :db.part/db}

  [:db/add #db/id[:berest.part/system] :db/ident :soil-moisture.unit/pFK]
  [:db/add #db/id[:berest.part/system] :db/ident :soil-moisture.unit/pNFK]
  [:db/add #db/id[:berest.part/system] :db/ident :soil-moisture.unit/volP]
  [:db/add #db/id[:berest.part/system] :db/ident :soil-moisture.unit/mm]

  {:db/id #db/id[:db.part/db]
   :db/ident :soil/ka5-soil-type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "A soil layers soil-type according to KA5 system."
   :db.install/_attribute :db.part/db}

  ;; entities for KA5 soil types

  {:db/id #db/id[:db.part/db]
   :db/ident :soil.type.ka5/name
   :db/valueType :db.type/string
   :db/unique :db.unique/identity
   :db/cardinality :db.cardinality/one
   :db/doc "Name of an entity representing a KA5 soil type."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil.type.ka5/capillary-rise-rates
   :db/valueType :db.type/ref
   :db/isComponent true
   :db/cardinality :db.cardinality/many
   :db/doc "references a list of entities representing a map from
   distance to groundwater table -> capillary rise rate."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil.type.ka5/distance-to-groundwater-table
   :db/valueType :db.type/long
   :meta/unit "dm"
   :db/cardinality :db.cardinality/one
   :db/doc "Distance to groundwater table in dm, used to define capillary rise"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :soil.type.ka5/capillary-rise-rate
   :db/valueType :db.type/double
   :meta/unit "mm day-1"
   :db/cardinality :db.cardinality/one
   :db/doc "capillary rise rate [mm day-1]"
   :db.install/_attribute :db.part/db}

  ]