[

  ;; technology
  ;;-----------------------------------------------------------------------------------------------

  {:db/id #db/id[:db.part/db]
          :db/ident :technology/cycle-days
          :db/valueType :db.type/long
          :meta/unit :day
          :db/cardinality :db.cardinality/one
          :db/doc "A technologys cycle parameter"
          :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
          :db/ident :technology.donation/min
          :db/valueType :db.type/long
          :meta/unit :mm
          :db/cardinality :db.cardinality/one
          :db/doc "Minimal donation a technology can give"
          :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
          :db/ident :technology.donation/max
          :db/valueType :db.type/long
          :meta/unit :mm
          :db/cardinality :db.cardinality/one
          :db/doc "Maximal donation a technology can give"
          :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
          :db/ident :technology.donation/opt
          :db/valueType :db.type/long
          :meta/unit :mm
          :db/cardinality :db.cardinality/one
          :db/doc "optimal donation a technology can give"
          :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
          :db/ident :technology.donation/step-size
          :db/valueType :db.type/long
          :meta/unit :mm
          :db/cardinality :db.cardinality/one
          :db/doc "Step size in which donations can be increased or decreased"
          :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
          :db/ident :technology/application-height
          :db/valueType :db.type/long
          :meta/unit :cm
          :db/cardinality :db.cardinality/one
          :db/doc "Height where water application will be done from,
          positive values mean overhead irrigation and negative values drip irrigation"
          :db.install/_attribute :db.part/db}

  ]